[submodule "bto_cairo_git"]
	path = 8-zed/lib/bto_cairo_git
	url = https://github.com/greged93/bto-cairo.git
[submodule "circom/circomlib"]
	path = circom/circomlib
	url = https://github.com/iden3/circomlib.git
